<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.base.mapper.UserMapper">

    <select id="getUser" resultType="UserDto">
        SELECT *
        FROM user
        WHERE userId = #{userId}
    </select>

    <insert id="addUser" parameterType="com.example.base.domain.item.UserItem">
        INSERT INTO user(firstName, lastName, userEmail, user_Role, userPassword)
        VALUES (#{user.firstName}, #{user.lastName}, #{user.userEmail}, #{user.user_Role}, #{user.userPassword})
    </insert>

    <select id="countByuserId" parameterType="long">
        SELECT COUNT(*) FROM user WHERE userId = #{userId}
    </select>

    <select id="countByuserEmail" parameterType="long">
        SELECT COUNT(*) FROM user WHERE userEmail = #{userEmail}
    </select>

    <!-- Optional<UserItem> findByEmail(@Param("userEmail") String userEmail); -->
     <select id="findByEmail" resultType="UserItem">
        SELECT *
        FROM user
        WHERE userEmail = #{userEmail}
     </select>
</mapper>